{{ partial "header" . }}

<main class = "content-box">
<style>
   .box{
    width:800px;
    border:1px solid rgba(233,156,76,0.9);
    font-size: 18px;
    line-height: 30px;
    text-align:left;
   }
   .box img{
    float: left;
    margin-top: 20px;
   }
</style>

    <div class="intro">

        <div style = "margin-top: 50px" class="box">
            <img class="img-responsive" src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo }}" alt="Whoopsies, this is my bad side!" style = "margin: 0 auto; width:18%"> {{ .Site.Params.description }}
        </div>
        
    </div>

</main>

{{ partial "footer" . }}
