{{ partial "header" . }}

<main class = "content-box">
<style>
   .box{
    width:700px;
    border:1px solid rgba(233,156,76,0.9);
    font-size: 18px;
    line-height: 30px;
    word-break: break-all;
   }
   .box img{
    float: left;
   }
</style>

    <div class="Intro">

        <div class="box">
            <img class="img-responsive" src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo }}" alt="Whoopsies, this is my bad side!" style = "margin: 0 auto; width:30%"> {{ .Site.Params.description }}
        </div>
        
        
        <div style = "margin-top: 20%" class="box">
            <h4>Other</h4>
        </div>
    </div>

</main>

{{ partial "footer" . }}
